<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<meta charset="UTF-8"/>
		<title> Login </title>
		<link rel="stylesheet" href="/static/webshop.css"/>
							
		
	</head>
	<body>
        <div id="wrapper">
            <div id="Headline">
                <a href="/shop"><img src="../static/JR.png/" alt="Logo"></a>
				<a id= "about" href="/about/">about</a>
				<a id= "contact" href="/contact/">contact</a>
				<a id= "login" href="/shop/login/">login</a>
				<a id= "Warenkorb" href="/shop/warenkorb/">
				<img src="../static/cart.png" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
            <div id="Titelbild">
                <img src="/static/Frontpage2.jpg" alt="Da sollte ein Bild sein" style="width:1000px;height:300px;border:0px">
            </div>
            <div id="aboutText">
                <h2>DJ Emma</h2>
                <p>Jan Röthlisberger, besser bekannt unter seinem Künstlernamen DJ Emma, ist ein im ganzen Dorg Hetiswil bekannter, und am ganzen Gymnasium Neufeld gefürchteter Katzenmusiker. Neben seinen musikalischen Beiträgen unterstützt er die gesellschaft mit, von gewissen Leuten als Gewalttaten eingestuften Aktionen gegen ehrenhafte Sportler. Des weiteren handelt er erfolgreich mit Kühen, welche ihn zum Millionär gemacht haben.</p>
			</div>
        </div>
	</body>
	
</html>