<html>
	<head>
		<meta charset="UTF-8"/>
		<title> Login </title>
		<link rel="stylesheet" href="/static/webshop.css"/>
							
		
	</head>
	<body>
        <div id="wrapper">
            <div id="Headline">
                    <a href="/shop"><img src="/static/JR.png/" alt="Logo"></a>
                    <a id= "about" href="http://google.ch">about</a>
                    <a id= "contact" href="http://google.ch">contact</a>
                    <a id= "login" href="/shop/login/">login</a>
                    <a id= "Warenkorb" href="/shop/warenkorb/">
                    <img src="/static/cart.png" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
                    </a>
                </div>
            <div id="Titelbild">
                <img src="/static/Frontpage2.jpg" alt="Da sollte ein Bild sein" style="width:1000px;height:300px;border:0px">
            </div>
            <div id="contact">  Name: Röthlisberger <br />
                                Vorname: Jan<br />
                                Künstlername: DJ Jan<br />
                                Wohnort: Hettiswil im Ämmitau<br />
                                Email:  habe.keine@dinimuetter.com </div>
        </div>
	</body>
	
</html>