<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="webshop.css"/>
		
							
		
	</head>
	
        <body background="../static/Frontpage.jpg/">.
		<div id="wrapper">
			<div id="Headline">
				<a id= "about" href="url">about</a>
				<a id= "contact" href="url">contact</a>
				<a id= "login" href="url">login</a>
				<a id= "lückenfüller" href="http://bloody-disgusting.com/movie/3435021/origin-stephen-kings-time-sat-next-ronald-mcdonald-plane/">DJ Jan</a>			
            </div>
			</div>
            <div id="Frontpage">
            
            <h1> Willkommen! </h1>
            <a id= "zumShop" href="url">zum Shop</a>
            </div>
        

	</body>

</html>