<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<meta charset="UTF-8"/>
		<title> Login </title>
		<link rel="stylesheet" href="/static/webshop.css"/>
							
		
	</head>
	<body>
        <div id="wrapper">
            <div id="Headline">
                <a href="/shop"><img src="../static/JR.png/" alt="Logo"></a>
				<a id= "about" href="/about/">about</a>
				<a id= "contact" href="/contact/">contact</a>
				<a id= "login" href="/shop/login/">login</a>
				<a id= "Warenkorb" href="/shop/warenkorb/">
				<img src="../static/cart.png" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
            <div id="Titelbild">
                <img src="/static/Frontpage2.jpg" alt="Da sollte ein Bild sein" style="width:1000px;height:300px;border:0px">
            </div>
            <div id="aboutText">
                <h2>Login</h2>
                <p>Sie müssen sich zuerst einloggen</p>
            </div>
        </div>
	</body>
	
</html>