<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="webshop.css"/>
		
							
		
	</head>
	<body>
		<div id="wrapper">
			<div id="Headline">
				<img src="../static/JR.png/" alt="Logo">
				<a id= "about" href="url">about</a>
				<a id= "contact" href="url">contact</a>
				<a id= "login" href="url">login</a>
				<a id= "Warenkorb" href="">
				<img src="../static/JR.png/" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
            <div id="Titelbild">
				<img src="../static/JR.png/" alt="Röthlisberger Bild" style="width:1000px;height:300px;border:0px">
			</div>
			<div id="navigation">
				<p> Kategorien </p>
				<a id= "CD" href="url">CD</a> <br />
				<a id= "single" href="url">Single</a>
			</div>
            <div id="Produktbeschreibung">
                <img src="../static/JR.png/" alt="Produkt1" style="width:150px;height:150px;border:175px">
                <h2> Produkt </h2>
                <p> Produktbeschreibung blablablabla<p>
                <form>
                <input type="button" value="Hier kaufen" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
                </form> 
            </div>
            
        </div>    
    </body>
</html>    
