<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="/static/webshop.css"/>
		
							
		
	</head>
	<body>
		<div id="wrapper">
			<div id="Headline">
                <a href="/shop"><img src="/static/JR.png" alt="Logo"></a>
				<a id= "about" href="/about/">about</a>
				<a id= "contact" href="/contact/">contact</a>
				<a id= "login" href="/shop/login/">login</a>
				<a id= "Warenkorb" href="/shop/warenkorb/">
				<img src="static/cart.png" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
            <div id="Titelbild">
				<img src="/static/Frontpage2.jpg" alt="Röthlisberger Bild" style="width:1000px;height:300px;border:0px">
			</div>
			<div id="navigation">
				<p id="navuber"> Kategorien </p>
				<a id= "CD" class="navel" href="/">CD</a> <br />
				<a id= "Single" class="navel" href="/">Single</a>
                <a id= "Interpreten" class="navel" href="/">Interpreten</a>
                <a id= "Autogramme" class="navel" href="/">Autogramme</a>
                <a id= "Kühe" class="navel" href="/">Kühe</a>
                <a id= "merch" class="navel" href="/">Merchandise</a>
			</div>
            <div id="Produktbeschreibung">
                <img src="/static/djIcon.jpg" alt="Produkt1" style="width:150px;height:150px;border:175px">
                <br />
                <audio controls autoplay>
                    <source src="/static/{{idd}}.mp3/" type="audio/mp3"> 
                   Ihr Browser kennt das HTML5-Element noch nicht. 
                </audio>
                <h2> {{name}} </h2>
                <p> Die CD {{name}} hat die ID {{idd}}<p>
                <form action="http://127.0.0.1:5000/shop/buy/{{idd}}">
                    <b><input type="submit" value="BUY" /></b>
                </form>
            </div>
            
        </div>    
    </body>
</html>    
