<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="/static/webshop.css"/>
		
							
		
	</head>
    <body>
		<div id="wrapper">
			<div id="Headline">
				<img src="../static/JR.png/" alt="Logo">
				<a id= "about" href="url">about</a>
				<a id= "contact" href="url">contact</a>
				<a id= "login" href="url">login</a>
				<a id= "Warenkorb" href="">
				<img src="../static/JR.png/" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
			<div id="Titelbild">
				<img src="../static/JR.png/" alt="Röthlisberger Bild" style="width:1000px;height:300px;border:0px">
			</div>
			<div id="navigation">
				<p> Kategorien </p>
				<a id= "CD" href="url">CD</a> <br />
				<a id= "single" href="url">Single</a>
			</div>
			<div id="Einträge">
                {% for i in range(10) %}
                {% for a in articles %}
                    <div id="Eintrag{{a[0]}}}" class="Eintrag"> 
                        <img src="../static/{{a[0]}}.png/" alt="{{a[1]}}" style="width:150px;height:150px;border:175px"> <br />
                        <a id= "Produkt1" href="/shop/item/{{a[0]}}">{{a[1]}}</a>
                    </div>
                {% endfor %}
                {% endfor %}
			</div>
		</div>
		

	</body>

</html>