<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="webshop.css"/>
		
							
		
	</head>
	<body>
		<div id="wrapper">
			<div id="Headline">
				<img src="../static/JR.png/" alt="Logo">
				<a id= "about" href="url">about</a>
				<a id= "contact" href="url">contact</a>
				<a id= "login" href="url">login</a>
				<a id= "Warenkorb" href="">
				<img src="../static/JR.png/" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
			<div id="Titelbild">
				<img src="../static/JR.png/" alt="Röthlisberger Bild" style="width:1000px;height:300px;border:0px">
			</div>
			<div id="navigation">
				<p> Kategorien </p>
				<a id= "CD" href="url">CD</a> <br />
				<a id= "single" href="url">Single</a>
			</div>
			<div id="Einträge">
				<div id="Eintrag1" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt1" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt1" href="url">Produkt 1</a>
				</div>
				<div id="Eintrag2" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt2" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt2" href="url">Produkt 2</a>
				</div>
				<div id="Eintrag3" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt3" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt3" href="url">Produkt 3</a>
				</div>
				<div id="Eintrag4" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt4" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt4" href="url">Produkt 4</a>
				</div>
				<div id="Eintrag5" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt5" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt5" href="url">Produkt 5</a>
				</div>
				<div id="Eintrag6" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt6" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt6" href="url">Produkt 6</a>
				</div>
				<div id="Eintrag7" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt7" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt7" href="url">Produkt 7</a>
				</div>
				<div id="Eintrag8" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt8" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt8" href="url">Produkt 8</a>
				</div>
				<div id="Eintrag9" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt9" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt9" href="url">Produkt 9</a>
				</div>
				<div id="Eintrag9" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt10" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt9" href="url">Produkt 10</a>
				</div>
				<div id="Eintrag10" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt11" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt11" href="url">Produkt 11</a>
				</div>
				<div id="Eintrag12" class="Eintrag"> 
					
					<img src="../static/JR.png/" alt="Produkt12" style="width:150px;height:150px;border:175px"> <br />
					<a id= "Produkt12" href="url">Produkt 12</a>
				</div>
			</div>
		</div>
		

	</body>

</html>