<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="/static/webshop.css"/>
		
							
		
	</head>
	<body>
		<div id="wrapper">
			<div id="Headline">
                <a href="/shop"><img src="/static/JR.png/" alt="Logo"></a>
				<a id= "about" href="http://google.ch">about</a>
				<a id= "contact" href="http://google.ch">contact</a>
				<a id= "login" href="/shop/login/">login</a>
				<a id= "Warenkorb" href="/shop/warenkorb/">
				<img src="/static/cart.png" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
			<div id="Titelbild">
				<img src="/static/Frontpage2.jpg" alt="Röthlisberger Bild" style="width:1000px;height:300px;border:0px">
			</div>
			<div id="navigation">
				<p> Kategorien </p>
				<a id= "CD" href="url">CD</a> <br />
				<a id= "single" href="url">Single</a>
			</div>
			<div id="warenkorb">
                <table>
                    <tr>
                        <td class="iddd"><b>ID</b></td>
                        <td><b>Name</b></td>
                        <td><b>Preis</b></td>
                    </tr>
                    <tr>
                        <td class="iddd"> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    {% for a in articles %}
                    <tr>
                        <td class="iddd">{{a[0]}}</td>
                        <td>{{a[1]}}</td>
                        <td>{{a[2]}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="iddd"> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td class="iddd"> </td>
                        <td>Total: </td>
                        <td>{{saldo}}</td>
                    </tr>
                </table>
            </div>
		</div>
		

	</body>

</html>