<html>
	<head>
		<meta charset="UTF-8"/>
		<title> 
			Achterjan
		</title>
		<link rel="stylesheet" href="/static/webshop.css"/>
		
							
		
	</head>
	<body>
		<div id="wrapper">
			<div id="Headline">
                <a href="/shop"><img src="/static/JR.png" alt="Logo"></a>
				<a id= "about" href="/about/">about</a>
				<a id= "contact" href="/contact/">contact</a>
				<a id= "login" href="/shop/login/">login</a>
				<a id= "Warenkorb" href="/shop/warenkorb/">
				<img src="/static/cart.png" alt="Warenkorbimage" style="width:20px;height:20px;border:0px">
				</a>
			</div>
			<div id="Titelbild">
				<img src="/static/Frontpage2.jpg" alt="Röthlisberger Bild" style="width:1000px;height:300px;border:0px">
			</div>
			<div id="navigation">
				<p id="navuber"> Kategorien </p>
				<a id= "CD" class="navel"href="/">CD</a> <br />
				<a id= "Single" class="navel" href="/">Single</a>
                <a id= "Interpreten" class="navel" href="/">Interpreten</a>
                <a id= "Autogramme" class="navel" href="/">Autogramme</a>
                <a id= "Kühe" class="navel" href="/">Kühe</a>
                <a id= "merch" class="navel" href="/">Merchandise</a>
			</div>
			<div id="warenkorb">
                <table>
                    <tr>
                        <td class="iddd"><b>ID</b></td>
                        <td><b>Name</b></td>
                        <td><b>Preis</b></td>
                    </tr>
                    <tr>
                        <td class="iddd"> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    {% for a in articles %}
                    <tr>
                        <td class="iddd">{{a[0]}}</td>
                        <td>{{a[1]}}</td>
                        <td>{{a[2]}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="iddd"> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td class="iddd"> </td>
                        <td>Total: </td>
                        <td>{{saldo}}</td>
                    </tr>
                </table>
                <p> </p>
                <p>Bitte bestätigen Sie ihren Einkauf</p>
                <form method="POST" action="/bestellunggesendet/">
					<div class="formline" >
						<label>Username</label>
						<input type="text" name="username" />
					</div>
					<div class="formline" >
						<label>Password</label>
						<input type="password" name="password" />
					</div>
					<br />
					<input type="submit" name="eingabe" value="Einkauf absenden"/>
                </form>
            </div>
		</div>
		

	</body>

</html>