#wrapper{width:1000px;
margin-left:200px;
margin-right:200px;
font-family:OCR A Std, monospace;
}

	
#Headline{
height:30px;
background-color:white;
margin:0px;
background-color: white;


}
#Titelbild{ 
height:300px;
margin:0px;}
a{ color:black;
}
#about{padding:85px}
#contact{padding:85px;}
#login{padding:85px;}
#Warenkorb{padding:85px;}
#navigation{ 
height:1000px;
width:160px;
margin:30px;
position:static;
float: left;
text-align: center;
border-style:inset;
}
#Einträge{ 
height: 1000px;
width: 700px;
margin: 0px;
float:right;
text-align: center;
}
.Eintrag{
height:150px;
text-align: center;
float:right;
margin:30px;
}

		

	