#wrapper{width:1000px;
margin-left:200px;
margin-right:200px;}

	
#Headline{
height:30px;
background-color:white;
margin:0px;
background-color: white;

}
#Titelbild{ 
height:300px;

margin:0px;}
a{ color:black;
}
#about{padding:100px}
#contact{padding:100px;}
#login{padding:100px;}
#Warenkorb{padding:100px;}
nav{ 
height:200px;
width:100px;
margin:30px;
position:static;

text-align: center;
border-style:inset;

}
#Einträge{ 
height: 2000px;

margin: 0px;
float:right;
text-align: center;
}
.Eintrag{
height:200px;
text-align: center;
float:right;
margin:30px;
}
		

	