body {
    background-color: #DDDDDD;
}

#wrapper{width:1000px;
         height: 5000px;
margin-left:200px;
margin-right:200px;
font-family:OCR A Std, monospace;
font-style: none;
text-decoration: none;
background-color: white;
}

	
#Headline{
height:30px;
margin:0px;
font-family:OCR A Std, monospace;
font-style: none;
text-decoration: none;


}
#Titelbild{ 
height:300px;
margin:0px;}

a{ color:black;
text-decoration:none;
}
a:hover {
    color: red;
    background-color: transparent;

	}
#about{margin:85px}
#contact{margin:85px;}
#login{margin:85px;}
#Warenkorb{margin:85px;}
#lückenfüller{margin:85px;}
#zumShop{font-size: 50px;
padding:20px;
border-style:solid;                    
}

#navigation{ 
height:1000px;
width:200px;
margin:30px;
position:static;
float: left;
text-align: center;
border-style:solid;
background-color: white;
}
#Einträge{ 
width: 700px;
margin: 0px;
float:right;
text-align: center;
background-color: white;
}
.Eintrag{
width: 180px;
background-color: black;
height:150px;
text-align: center;
float:right;
margin:20px;
}
#Produktbeschreibung{
    width: 700px;
    height:1000px;
    margin:30px;
}
#Frontpage{
    text-align: center;
    margin-top:150px;
}
h1{font-family:OCR A Std, monospace;
font-style: none;
text-decoration: none;
font-size:100px;
}
