<html>
	<head>
		<meta charset="UTF-8"/>
		<title> Shop </title>
		<link rel="stylesheet" href="webshop.css"/>
							
		
	</head>
	<body>
		<div id="Headline">
			<img src="" alt="Logo">
			<a id= "about" href="url">about</a>
			<a id= "contact" href="url">contact</a>
			<a id= "login" href="url">login</a>
			<a id= "Warenkorb" href="">
				<img src="" alt="Warenkorbimage" style="width:42px;height:10px;border:0">
			</a>
		</div>
		<div id="Titelbild">
			<img src="" alt="Röthlisberger Bild">
		</div>
		<nav>
			<p> Kategorien </p>
			<a id= "CD" href="url">CD</a> <br />
			<a id= "single" href="url">Single</a>
		</nav>
		<div id="Einträge">
			<div id="Eintrag1"> 
				<img src="" alt="Produkt1">
				<a id= "Produkt1" href="url">Produkt 1</a>
			</div>
			<div id="Eintrag2"> 
				<img src="" alt="Produkt2">
				<a id= "Produkt2" href="url">Produkt 2</a>
			</div>
			<div id="Eintrag3"> 
				<img src="" alt="Produkt3">
				<a id= "Produkt3" href="url">Produkt 3</a>
			</div>
			<div id="Eintrag4"> 
				<img src="" alt="Produkt4">
				<a id= "Produkt4" href="url">Produkt 4</a>
			</div>
		
		</div>
		

	</body>

</html>